table
{
	border-collapse: collapse;
	border: 1px solid #AAA;
	width: 100%;
	font-size: 14px;
}

table, td, th
{
	background: none;
	border-bottom: 1px solid #AAA;
	padding: 10px 10px 0px 10px;
}

thead
{
	font-weight: bold;
	background: #EEE;
}

tbody
{
	background: #FFF;
}